@import "tailwindcss";

@theme {
  --color-global-background: rgba(12, 13, 16, 0.95); /* 0C0D10 95% */
  --color-global-text: #ffffff;
  /* --color-global-border: #222630; */
  --color-global-border: #1c1f26;
  /* --color-global-border: #20242e; */
  --color-global-subtitle: #9ca3af;
  --color-muscle-group: #c2f800;
  --color-card-background: #20242e;
  --color-exercise-details-values: #e5e7eb;
  --color-instruction-list: #d1d5db;
  --color-details-button-one: #0f1115;
  --color-details-button-two: #e5e7eb;
  --color-button-primary: #ccff00;
  --color-hero-background: rgba(35, 39, 50, 0.6); /* 232732 60% */
}
